@import "./sass/constants.scss";

body {
  background: $champagnePink;
}

h1 {
  font-size: 3rem;
  font-weight: 800;

  color: $ebony;
}

.app {
  max-width: 1280px;
  width: 100%;

  margin: 0 auto;
  padding: 30px 0;
}
