@import "../../sass/constants.scss";

.board {
  width: 100%;

  display: flex;
}

.listInput {
  @include colorize();

  width: 25% !important;
  color: $champagnePink !important;
}

.back {
  margin-top: 25px;
  display: inline-block;
  color: $ebony;
}
