@import "../../sass/constants.scss";

.boards {
  display: flex;
  flex-wrap: wrap;
}

.board {
  width: 24%;
  height: 100px;
  margin: 1% 0.5% 0;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  color: $champagnePink;
  background: $ebony;

  &:hover {
    background: linear-gradient(to right, $ebony, $desertSand);
  }

  &:nth-child(odd) {
    background-color: $antiqueGrass;

    &:hover {
      background: linear-gradient(to right, $antiqueGrass, $desertSand);
    }
  }
}

.input {
  width: 24% !important;
  height: 100px !important;
  margin: 1% 0.5% 0 !important;

  border-color: $antiqueGrass !important;
}
